html{box-sizing:border-box}*,*:before,*:after{box-sizing:inherit}
html{-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}
article,aside,details,figcaption,figure,footer,header,main,menu,nav,section,summary{display:block}
audio,canvas,progress,video{display:inline-block}progress{vertical-align:baseline}
audio:not([controls]){display:none;height:0}[hidden],template{display:none}
a{background-color:transparent;-webkit-text-decoration-skip:objects}
a:active,a:hover{outline-width:0}abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}
dfn{font-style:italic}mark{background:#ff0;color:#000}
small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}
sub{bottom:-0.25em}sup{top:-0.5em}figure{margin:1em 40px}img{border-style:none}svg:not(:root){overflow:hidden}
code,kbd,pre,samp{font-family:monospace,monospace;font-size:1em}hr{box-sizing:content-box;height:0;overflow:visible}
button,input,select,textarea{font:inherit;margin:0}optgroup{font-weight:bold}
button,input{overflow:visible}button,select{text-transform:none}
button,html [type=button],[type=reset],[type=submit]{-webkit-appearance:button}
button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner{border-style:none;padding:0}
button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring{outline:1px dotted ButtonText}
fieldset{border:1px solid #c0c0c0;margin:0 2px;padding:.35em .625em .75em}
legend{color:inherit;display:table;max-width:100%;padding:0;white-space:normal}textarea{overflow:auto}
[type=checkbox],[type=radio]{padding:0}
[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}
[type=search]{-webkit-appearance:textfield;outline-offset:-2px}
[type=search]::-webkit-search-cancel-button,[type=search]::-webkit-search-decoration{-webkit-appearance:none}
::-webkit-input-placeholder{color:inherit;opacity:0.54}
::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}
html,body{font-family:Verdana,sans-serif;font-size:15px;line-height:1.5}html{overflow-x:hidden}
h1{font-size:36px}h2{font-size:30px}h3{font-size:24px}h4{font-size:20px}h5{font-size:18px}h6{font-size:16px}.m1-serif{font-family:serif}
h1,h2,h3,h4,h5,h6{font-family:"Segoe UI",Arial,sans-serif;font-weight:400;margin:10px 0}.m1-wide{letter-spacing:4px}
hr{border:0;border-top:1px solid #eee;margin:20px 0}
.m1-image{max-width:100%;height:auto}img{vertical-align:middle}a{color:inherit}
.m1-table,.m1-table-all{border-collapse:collapse;border-spacing:0;width:100%;display:table}.m1-table-all{border:1px solid #ccc}
.m1-bordered tr,.m1-table-all tr{border-bottom:1px solid #ddd}.m1-striped tbody tr:nth-child(even){background-color:#f1f1f1}
.m1-table-all tr:nth-child(odd){background-color:#fff}.m1-table-all tr:nth-child(even){background-color:#f1f1f1}
.m1-hoverable tbody tr:hover,.m1-ul.m1-hoverable li:hover{background-color:#ccc}.m1-centered tr th,.m1-centered tr td{text-align:center}
.m1-table td,.m1-table th,.m1-table-all td,.m1-table-all th{padding:8px 8px;display:table-cell;text-align:left;vertical-align:top}
.m1-table th:first-child,.m1-table td:first-child,.m1-table-all th:first-child,.m1-table-all td:first-child{padding-left:16px}
.m1-btn,.m1-button{border:none;display:inline-block;padding:8px 16px;vertical-align:middle;overflow:hidden;text-decoration:none;color:inherit;background-color:inherit;text-align:center;cursor:pointer;white-space:nowrap}
.m1-btn:hover{box-shadow:0 8px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19)}
.m1-btn,.m1-button{-webkit-touch-callout:none;-webkit-user-select:none;-khtml-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}   
.m1-disabled,.m1-btn:disabled,.m1-button:disabled{cursor:not-allowed;opacity:0.3}.m1-disabled *,:disabled *{pointer-events:none}
.m1-btn.m1-disabled:hover,.m1-btn:disabled:hover{box-shadow:none}
.m1-badge,.m1-tag{background-color:#000;color:#fff;display:inline-block;padding-left:8px;padding-right:8px;text-align:center}.m1-badge{border-radius:50%}
.m1-ul{list-style-type:none;padding:0;margin:0}.m1-ul li{padding:8px 16px;border-bottom:1px solid #ddd}.m1-ul li:last-child{border-bottom:none}
.m1-tooltip,.m1-display-container{position:relative}.m1-tooltip .m1-text{display:none}.m1-tooltip:hover .m1-text{display:inline-block}
.m1-ripple:active{opacity:0.5}.m1-ripple{transition:opacity 0s}
.m1-input{padding:8px;display:block;border:none;border-bottom:1px solid #ccc;width:100%}
.m1-select{padding:9px 0;width:100%;border:none;border-bottom:1px solid #ccc}
.m1-dropdown-click,.m1-dropdown-hover{position:relative;display:inline-block;cursor:pointer}
.m1-dropdown-hover:hover .m1-dropdown-content{display:block}
.m1-dropdown-hover:first-child,.m1-dropdown-click:hover{background-color:#ccc;color:#000}
.m1-dropdown-hover:hover > .m1-button:first-child,.m1-dropdown-click:hover > .m1-button:first-child{background-color:#ccc;color:#000}
.m1-dropdown-content{cursor:auto;color:#000;background-color:#fff;display:none;position:absolute;min-width:160px;margin:0;padding:0;z-index:1}
.m1-check,.m1-radio{width:24px;height:24px;position:relative;top:6px}
.m1-sidebar{height:100%;width:200px;background-color:#fff;position:fixed!important;z-index:1;overflow:auto}
.m1-bar-block .m1-dropdown-hover,.m1-bar-block .m1-dropdown-click{width:100%}
.m1-bar-block .m1-dropdown-hover .m1-dropdown-content,.m1-bar-block .m1-dropdown-click .m1-dropdown-content{min-width:100%}
.m1-bar-block .m1-dropdown-hover .m1-button,.m1-bar-block .m1-dropdown-click .m1-button{width:100%;text-align:left;padding:8px 16px}
.m1-main,#main{transition:margin-left .4s}
.m1-modal{z-index:3;display:none;padding-top:100px;position:fixed;left:0;top:0;width:100%;height:100%;overflow:auto;background-color:rgb(0,0,0);background-color:rgba(0,0,0,0.4)}
.m1-modal-content{margin:auto;background-color:#fff;position:relative;padding:0;outline:0;width:600px}
.m1-bar{width:100%;overflow:hidden}.m1-center .m1-bar{display:inline-block;width:auto}
.m1-bar .m1-bar-item{padding:8px 16px;float:left;width:auto;border:none;display:block;outline:0}
.m1-bar .m1-dropdown-hover,.m1-bar .m1-dropdown-click{position:static;float:left}
.m1-bar .m1-button{white-space:normal}
.m1-bar-block .m1-bar-item{width:100%;display:block;padding:8px 16px;text-align:left;border:none;white-space:normal;float:none;outline:0}
.m1-bar-block.m1-center .m1-bar-item{text-align:center}.m1-block{display:block;width:100%}
.m1-responsive{display:block;overflow-x:auto}
.m1-container:after,.m1-container:before,.m1-panel:after,.m1-panel:before,.m1-row:after,.m1-row:before,.m1-row-padding:after,.m1-row-padding:before,
.m1-cell-row:before,.m1-cell-row:after,.m1-clear:after,.m1-clear:before,.m1-bar:before,.m1-bar:after{content:"";display:table;clear:both}
.m1-col,.m1-half,.m1-third,.m1-twothird,.m1-threequarter,.m1-quarter{float:left;width:100%}
.m1-col.s1{width:8.33333%}.m1-col.s2{width:16.66666%}.m1-col.s3{width:24.99999%}.m1-col.s4{width:33.33333%}
.m1-col.s5{width:41.66666%}.m1-col.s6{width:49.99999%}.m1-col.s7{width:58.33333%}.m1-col.s8{width:66.66666%}
.m1-col.s9{width:74.99999%}.m1-col.s10{width:83.33333%}.m1-col.s11{width:91.66666%}.m1-col.s12{width:99.99999%}
@media (min-width:601px){.m1-col.m1{width:8.33333%}.m1-col.m2{width:16.66666%}.m1-col.m3,.m1-quarter{width:24.99999%}.m1-col.m4,.m1-third{width:33.33333%}
.m1-col.m5{width:41.66666%}.m1-col.m6,.m1-half{width:49.99999%}.m1-col.m7{width:58.33333%}.m1-col.m8,.m1-twothird{width:66.66666%}
.m1-col.m9,.m1-threequarter{width:74.99999%}.m1-col.m10{width:83.33333%}.m1-col.m11{width:91.66666%}.m1-col.m12{width:99.99999%}}
@media (min-width:993px){.m1-col.l1{width:8.33333%}.m1-col.l2{width:16.66666%}.m1-col.l3{width:24.99999%}.m1-col.l4{width:33.33333%}
.m1-col.l5{width:41.66666%}.m1-col.l6{width:49.99999%}.m1-col.l7{width:58.33333%}.m1-col.l8{width:66.66666%}
.m1-col.l9{width:74.99999%}.m1-col.l10{width:83.33333%}.m1-col.l11{width:91.66666%}.m1-col.l12{width:99.99999%}}
.m1-content{max-width:980px;margin:auto}.m1-rest{overflow:hidden}
.m1-cell-row{display:table;width:100%}.m1-cell{display:table-cell}
.m1-cell-top{vertical-align:top}.m1-cell-middle{vertical-align:middle}.m1-cell-bottom{vertical-align:bottom}
.m1-hide{display:none!important}.m1-show-block,.m1-show{display:block!important}.m1-show-inline-block{display:inline-block!important}
@media (max-width:600px){.m1-modal-content{margin:0 10px;width:auto!important}.m1-modal{padding-top:30px}
.m1-dropdown-hover.m1-mobile .m1-dropdown-content,.m1-dropdown-click.m1-mobile .m1-dropdown-content{position:relative}	
.m1-hide-small{display:none!important}.m1-mobile{display:block;width:100%!important}.m1-bar-item.m1-mobile,.m1-dropdown-hover.m1-mobile,.m1-dropdown-click.m1-mobile{text-align:center}
.m1-dropdown-hover.m1-mobile,.m1-dropdown-hover.m1-mobile .m1-btn,.m1-dropdown-hover.m1-mobile .m1-button,.m1-dropdown-click.m1-mobile,.m1-dropdown-click.m1-mobile .m1-btn,.m1-dropdown-click.m1-mobile .m1-button{width:100%}}
@media (max-width:768px){.m1-modal-content{width:500px}.m1-modal{padding-top:50px}}
@media (min-width:993px){.m1-modal-content{width:900px}.m1-hide-large{display:none!important}.m1-sidebar.m1-collapse{display:block!important}}
@media (max-width:992px) and (min-width:601px){.m1-hide-medium{display:none!important}}
@media (max-width:992px){.m1-sidebar.m1-collapse{display:none}.m1-main{margin-left:0!important;margin-right:0!important}}
.m1-top,.m1-bottom{position:fixed;width:100%;z-index:1}.m1-top{top:0}.m1-bottom{bottom:0}
.m1-overlay{position:fixed;display:none;width:100%;height:100%;top:0;left:0;right:0;bottom:0;background-color:rgba(0,0,0,0.5);z-index:2}
.m1-display-topleft{position:absolute;left:0;top:0}.m1-display-topright{position:absolute;right:0;top:0}
.m1-display-bottomleft{position:absolute;left:0;bottom:0}.m1-display-bottomright{position:absolute;right:0;bottom:0}
.m1-display-middle{position:absolute;top:50%;left:50%;transform:translate(-50%,-50%);-ms-transform:translate(-50%,-50%)}
.m1-display-left{position:absolute;top:50%;left:0%;transform:translate(0%,-50%);-ms-transform:translate(-0%,-50%)}
.m1-display-right{position:absolute;top:50%;right:0%;transform:translate(0%,-50%);-ms-transform:translate(0%,-50%)}
.m1-display-topmiddle{position:absolute;left:50%;top:0;transform:translate(-50%,0%);-ms-transform:translate(-50%,0%)}
.m1-display-bottommiddle{position:absolute;left:50%;bottom:0;transform:translate(-50%,0%);-ms-transform:translate(-50%,0%)}
.m1-display-container:hover .m1-display-hover{display:block}.m1-display-container:hover span.m1-display-hover{display:inline-block}.m1-display-hover{display:none}
.m1-display-position{position:absolute}
.m1-circle{border-radius:50%}
.m1-round-small{border-radius:2px}.m1-round,.m1-round-medium{border-radius:4px}.m1-round-large{border-radius:8px}.m1-round-xlarge{border-radius:16px}.m1-round-xxlarge{border-radius:32px}
.m1-row-padding,.m1-row-padding>.m1-half,.m1-row-padding>.m1-third,.m1-row-padding>.m1-twothird,.m1-row-padding>.m1-threequarter,.m1-row-padding>.m1-quarter,.m1-row-padding>.m1-col{padding:0 8px}
.m1-container,.m1-panel{padding:0.01em 16px}.m1-panel{margin-top:16px;margin-bottom:16px}
.m1-code,.m1-codespan{font-family:Consolas,"courier new";font-size:16px}
.m1-code{width:auto;background-color:#fff;padding:8px 12px;border-left:4px solid #4CAF50;word-wrap:break-word}
.m1-codespan{color:crimson;background-color:#f1f1f1;padding-left:4px;padding-right:4px;font-size:110%}
.m1-card,.m1-card-2{box-shadow:0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12)}
.m1-card-4,.m1-hover-shadow:hover{box-shadow:0 4px 10px 0 rgba(0,0,0,0.2),0 4px 20px 0 rgba(0,0,0,0.19)}
.m1-spin{animation:m1-spin 2s infinite linear}@keyframes m1-spin{0%{transform:rotate(0deg)}100%{transform:rotate(359deg)}}
.m1-animate-fading{animation:fading 10s infinite}@keyframes fading{0%{opacity:0}50%{opacity:1}100%{opacity:0}}
.m1-animate-opacity{animation:opac 0.8s}@keyframes opac{from{opacity:0} to{opacity:1}}
.m1-animate-top{position:relative;animation:animatetop 0.4s}@keyframes animatetop{from{top:-300px;opacity:0} to{top:0;opacity:1}}
.m1-animate-left{position:relative;animation:animateleft 0.4s}@keyframes animateleft{from{left:-300px;opacity:0} to{left:0;opacity:1}}
.m1-animate-right{position:relative;animation:animateright 0.4s}@keyframes animateright{from{right:-300px;opacity:0} to{right:0;opacity:1}}
.m1-animate-bottom{position:relative;animation:animatebottom 0.4s}@keyframes animatebottom{from{bottom:-300px;opacity:0} to{bottom:0;opacity:1}}
.m1-animate-zoom {animation:animatezoom 0.6s}@keyframes animatezoom{from{transform:scale(0)} to{transform:scale(1)}}
.m1-animate-input{transition:width 0.4s ease-in-out}.m1-animate-input:focus{width:100%!important}
.m1-opacity,.m1-hover-opacity:hover{opacity:0.60}.m1-opacity-off,.m1-hover-opacity-off:hover{opacity:1}
.m1-opacity-max{opacity:0.25}.m1-opacity-min{opacity:0.75}
.m1-greyscale-max,.m1-grayscale-max,.m1-hover-greyscale:hover,.m1-hover-grayscale:hover{filter:grayscale(100%)}
.m1-greyscale,.m1-grayscale{filter:grayscale(75%)}.m1-greyscale-min,.m1-grayscale-min{filter:grayscale(50%)}
.m1-sepia{filter:sepia(75%)}.m1-sepia-max,.m1-hover-sepia:hover{filter:sepia(100%)}.m1-sepia-min{filter:sepia(50%)}
.m1-tiny{font-size:10px!important}.m1-small{font-size:12px!important}.m1-medium{font-size:15px!important}.m1-large{font-size:18px!important}
.m1-xlarge{font-size:24px!important}.m1-xxlarge{font-size:36px!important}.m1-xxxlarge{font-size:48px!important}.m1-jumbo{font-size:64px!important}
.m1-left-align{text-align:left!important}.m1-right-align{text-align:right!important}.m1-justify{text-align:justify!important}.m1-center{text-align:center!important}
.m1-border-0{border:0!important}.m1-border{border:1px solid #ccc!important}
.m1-border-top{border-top:1px solid #ccc!important}.m1-border-bottom{border-bottom:1px solid #ccc!important}
.m1-border-left{border-left:1px solid #ccc!important}.m1-border-right{border-right:1px solid #ccc!important}
.m1-topbar{border-top:6px solid #ccc!important}.m1-bottombar{border-bottom:6px solid #ccc!important}
.m1-leftbar{border-left:6px solid #ccc!important}.m1-rightbar{border-right:6px solid #ccc!important}
.m1-section,.m1-code{margin-top:16px!important;margin-bottom:16px!important}
.m1-margin{margin:16px!important}.m1-margin-top{margin-top:16px!important}.m1-margin-bottom{margin-bottom:16px!important}
.m1-margin-left{margin-left:16px!important}.m1-margin-right{margin-right:16px!important}
.m1-padding-small{padding:4px 8px!important}.m1-padding{padding:8px 16px!important}.m1-padding-large{padding:12px 24px!important}
.m1-padding-16{padding-top:16px!important;padding-bottom:16px!important}.m1-padding-24{padding-top:24px!important;padding-bottom:24px!important}
.m1-padding-32{padding-top:32px!important;padding-bottom:32px!important}.m1-padding-48{padding-top:48px!important;padding-bottom:48px!important}
.m1-padding-64{padding-top:64px!important;padding-bottom:64px!important}
.m1-left{float:left!important}.m1-right{float:right!important}
.m1-button:hover{color:#000!important;background-color:#ccc!important}
.m1-transparent,.m1-hover-none:hover{background-color:transparent!important}
.m1-hover-none:hover{box-shadow:none!important}
/* Colors */
.m1-amber,.m1-hover-amber:hover{color:#000!important;background-color:#ffc107!important}
.m1-aqua,.m1-hover-aqua:hover{color:#000!important;background-color:#00ffff!important}
.m1-blue,.m1-hover-blue:hover{color:#fff!important;background-color:#2196F3!important}
.m1-light-blue,.m1-hover-light-blue:hover{color:#000!important;background-color:#87CEEB!important}
.m1-brown,.m1-hover-brown:hover{color:#fff!important;background-color:#795548!important}
.m1-cyan,.m1-hover-cyan:hover{color:#000!important;background-color:#00bcd4!important}
.m1-blue-grey,.m1-hover-blue-grey:hover,.m1-blue-gray,.m1-hover-blue-gray:hover{color:#fff!important;background-color:#607d8b!important}
.m1-green,.m1-hover-green:hover{color:#fff!important;background-color:#4CAF50!important}
.m1-light-green,.m1-hover-light-green:hover{color:#000!important;background-color:#8bc34a!important}
.m1-indigo,.m1-hover-indigo:hover{color:#fff!important;background-color:#3f51b5!important}
.m1-khaki,.m1-hover-khaki:hover{color:#000!important;background-color:#f0e68c!important}
.m1-lime,.m1-hover-lime:hover{color:#000!important;background-color:#cddc39!important}
.m1-orange,.m1-hover-orange:hover{color:#000!important;background-color:#ff9800!important}
.m1-deep-orange,.m1-hover-deep-orange:hover{color:#fff!important;background-color:#ff5722!important}
.m1-pink,.m1-hover-pink:hover{color:#fff!important;background-color:#e91e63!important}
.m1-purple,.m1-hover-purple:hover{color:#fff!important;background-color:#9c27b0!important}
.m1-deep-purple,.m1-hover-deep-purple:hover{color:#fff!important;background-color:#673ab7!important}
.m1-red,.m1-hover-red:hover{color:#fff!important;background-color:#f44336!important}
.m1-sand,.m1-hover-sand:hover{color:#000!important;background-color:#fdf5e6!important}
.m1-teal,.m1-hover-teal:hover{color:#fff!important;background-color:#009688!important}
.m1-yellow,.m1-hover-yellow:hover{color:#000!important;background-color:#ffeb3b!important}
.m1-white,.m1-hover-white:hover{color:#000!important;background-color:#fff!important}
.m1-black,.m1-hover-black:hover{color:#fff!important;background-color:#000!important}
.m1-grey,.m1-hover-grey:hover,.m1-gray,.m1-hover-gray:hover{color:#000!important;background-color:#9e9e9e!important}
.m1-light-grey,.m1-hover-light-grey:hover,.m1-light-gray,.m1-hover-light-gray:hover{color:#000!important;background-color:#f1f1f1!important}
.m1-dark-grey,.m1-hover-dark-grey:hover,.m1-dark-gray,.m1-hover-dark-gray:hover{color:#fff!important;background-color:#616161!important}
.m1-pale-red,.m1-hover-pale-red:hover{color:#000!important;background-color:#ffdddd!important}
.m1-pale-green,.m1-hover-pale-green:hover{color:#000!important;background-color:#ddffdd!important}
.m1-pale-yellow,.m1-hover-pale-yellow:hover{color:#000!important;background-color:#ffffcc!important}
.m1-pale-blue,.m1-hover-pale-blue:hover{color:#000!important;background-color:#ddffff!important}
.m1-text-amber,.m1-hover-text-amber:hover{color:#ffc107!important}
.m1-text-aqua,.m1-hover-text-aqua:hover{color:#00ffff!important}
.m1-text-blue,.m1-hover-text-blue:hover{color:#2196F3!important}
.m1-text-light-blue,.m1-hover-text-light-blue:hover{color:#87CEEB!important}
.m1-text-brown,.m1-hover-text-brown:hover{color:#795548!important}
.m1-text-cyan,.m1-hover-text-cyan:hover{color:#00bcd4!important}
.m1-text-blue-grey,.m1-hover-text-blue-grey:hover,.m1-text-blue-gray,.m1-hover-text-blue-gray:hover{color:#607d8b!important}
.m1-text-green,.m1-hover-text-green:hover{color:#4CAF50!important}
.m1-text-light-green,.m1-hover-text-light-green:hover{color:#8bc34a!important}
.m1-text-indigo,.m1-hover-text-indigo:hover{color:#3f51b5!important}
.m1-text-khaki,.m1-hover-text-khaki:hover{color:#b4aa50!important}
.m1-text-lime,.m1-hover-text-lime:hover{color:#cddc39!important}
.m1-text-orange,.m1-hover-text-orange:hover{color:#ff9800!important}
.m1-text-deep-orange,.m1-hover-text-deep-orange:hover{color:#ff5722!important}
.m1-text-pink,.m1-hover-text-pink:hover{color:#e91e63!important}
.m1-text-purple,.m1-hover-text-purple:hover{color:#9c27b0!important}
.m1-text-deep-purple,.m1-hover-text-deep-purple:hover{color:#673ab7!important}
.m1-text-red,.m1-hover-text-red:hover{color:#f44336!important}
.m1-text-sand,.m1-hover-text-sand:hover{color:#fdf5e6!important}
.m1-text-teal,.m1-hover-text-teal:hover{color:#009688!important}
.m1-text-yellow,.m1-hover-text-yellow:hover{color:#d2be0e!important}
.m1-text-white,.m1-hover-text-white:hover{color:#fff!important}
.m1-text-black,.m1-hover-text-black:hover{color:#000!important}
.m1-text-grey,.m1-hover-text-grey:hover,.m1-text-gray,.m1-hover-text-gray:hover{color:#757575!important}
.m1-text-light-grey,.m1-hover-text-light-grey:hover,.m1-text-light-gray,.m1-hover-text-light-gray:hover{color:#f1f1f1!important}
.m1-text-dark-grey,.m1-hover-text-dark-grey:hover,.m1-text-dark-gray,.m1-hover-text-dark-gray:hover{color:#3a3a3a!important}
.m1-border-amber,.m1-hover-border-amber:hover{border-color:#ffc107!important}
.m1-border-aqua,.m1-hover-border-aqua:hover{border-color:#00ffff!important}
.m1-border-blue,.m1-hover-border-blue:hover{border-color:#2196F3!important}
.m1-border-light-blue,.m1-hover-border-light-blue:hover{border-color:#87CEEB!important}
.m1-border-brown,.m1-hover-border-brown:hover{border-color:#795548!important}
.m1-border-cyan,.m1-hover-border-cyan:hover{border-color:#00bcd4!important}
.m1-border-blue-grey,.m1-hover-border-blue-grey:hover,.m1-border-blue-gray,.m1-hover-border-blue-gray:hover{border-color:#607d8b!important}
.m1-border-green,.m1-hover-border-green:hover{border-color:#4CAF50!important}
.m1-border-light-green,.m1-hover-border-light-green:hover{border-color:#8bc34a!important}
.m1-border-indigo,.m1-hover-border-indigo:hover{border-color:#3f51b5!important}
.m1-border-khaki,.m1-hover-border-khaki:hover{border-color:#f0e68c!important}
.m1-border-lime,.m1-hover-border-lime:hover{border-color:#cddc39!important}
.m1-border-orange,.m1-hover-border-orange:hover{border-color:#ff9800!important}
.m1-border-deep-orange,.m1-hover-border-deep-orange:hover{border-color:#ff5722!important}
.m1-border-pink,.m1-hover-border-pink:hover{border-color:#e91e63!important}
.m1-border-purple,.m1-hover-border-purple:hover{border-color:#9c27b0!important}
.m1-border-deep-purple,.m1-hover-border-deep-purple:hover{border-color:#673ab7!important}
.m1-border-red,.m1-hover-border-red:hover{border-color:#f44336!important}
.m1-border-sand,.m1-hover-border-sand:hover{border-color:#fdf5e6!important}
.m1-border-teal,.m1-hover-border-teal:hover{border-color:#009688!important}
.m1-border-yellow,.m1-hover-border-yellow:hover{border-color:#ffeb3b!important}
.m1-border-white,.m1-hover-border-white:hover{border-color:#fff!important}
.m1-border-black,.m1-hover-border-black:hover{border-color:#000!important}
.m1-border-grey,.m1-hover-border-grey:hover,.m1-border-gray,.m1-hover-border-gray:hover{border-color:#9e9e9e!important}
.m1-border-light-grey,.m1-hover-border-light-grey:hover,.m1-border-light-gray,.m1-hover-border-light-gray:hover{border-color:#f1f1f1!important}
.m1-border-dark-grey,.m1-hover-border-dark-grey:hover,.m1-border-dark-gray,.m1-hover-border-dark-gray:hover{border-color:#616161!important}
.m1-border-pale-red,.m1-hover-border-pale-red:hover{border-color:#ffe7e7!important}.m1-border-pale-green,.m1-hover-border-pale-green:hover{border-color:#e7ffe7!important}
.m1-border-pale-yellow,.m1-hover-border-pale-yellow:hover{border-color:#ffffcc!important}.m1-border-pale-blue,.m1-hover-border-pale-blue:hover{border-color:#e7ffff!important}