body {
  background-color: black;
}

.frame {
  display: inline-block;
  padding: 0;
  border-radius: 3px;
  font-size: 7em;
  text-shadow: 1px 2px  white;
  color: green;
  text-align: center;
}
.frame canvas {
  display: block;
  padding: 60px 0px 0px 0px;
  background-color: black;
}

#tree{
display:block;
position:absolute;
left:50%;
top:50%;
transform:translate(-50%,-50%);
}